{
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": ["vue", "@typescript-eslint"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    },
    "import/extensions": [
      ".js",
      ".jsx",
      ".mjs",
      ".ts",
      ".tsx"
    ]
    // "import/resolver": {
    //   "typescript": "./tsconfig.json",
    // },
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "rules": {
    "import/extensions": ["error", "always", {
      "js": "never",
      "mjs": "never",
      "jsx": "never",
      "ts": "never",
      "tsx": "never"
    }],
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": [
        "state", // for vuex state
        "acc", // for reduce accumulators
        "e" // for e.returnvalue
      ]
    }]
  }
}
